<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light_reveal_txt.css') }}" />
    <title>light reveal text</title>
  </head>
  <body>
      <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
      </div>
      <div class="lamp__wrap">
        <div class="lamp">
          <div class="cable"></div>
          <div class="cover"></div>
          <div class="in-cover">
            <div class="bulb"></div>
          </div>
          <div class="light"></div>
        </div>
      </div>
  
      <section class="error">
        <div class="error__content">
          <div class="error__message message">
            <h1 class="message__title">I Love You💕</h1>
            <p class="message__text">Holi, espero que te guste y sepas cuanto me gustas</p>
            <p class="message__text">gracias por este tiempo que pasamos</p>
            <p class="message__text">Y por soportarme y quedarte a mi lado</p>
            <p class="message__text">eres la unica razon por la que me gusta salir</p>
            <p class="message__text">y ser mejor cada dia. Realmente no quiero </p>
            <p class="message__text">conocer a nadie mas porque me gusta estar a tu lado.</p>
          </div>
        </div>
      </section>
    </a>
  </body>
</html>
